html {
  box-sizing: border-box;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  list-style: none;
  padding-left: 0;
}
.gallery-item {
  width: 360px;
}
.gallery-image {
  width: 100%;
  object-fit: cover;
}
